.Banner{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
    font-size: 50px;
    background-color: rgb(247, 156, 223);
}

.Workouts{
    background-color: rgba(67, 207, 238, 0.6431372549);
    border-radius: 30px;
    width: 100%;
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    gap: 24px;
}

.Workouts__mini{
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 12px;
    color: #fff;
}

.Workouts__preview{
    width: 190px;
}

.SubscribeHome{
    height: 300px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #c5f581;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 3px #d6f7c5
}