.menu {
    display: flex;
    gap: 24px;
    padding: 12px;
    border-radius: 30px;
    background-color: #43cfeea4;

    &__link {
        list-style-type: none;
        color: #fff;
        font-size: 30px;
        font-weight: bolder;
    }
}