$colorBlue: #43cfeea4;
$colorPink: #f79cdf;
$colorGreen: #c5f581;
$colorText: grey;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

main {
  margin: 0px 3vw;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 3vw;
  
  .Logo {
    height: 150px;
  }

  .Login {
    padding: 24px;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    border: none;
    border-radius: 30px;
    background-color: $colorBlue;
  }

  .menu {
    display: flex;
    gap: 24px;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: $colorBlue;
  
    &__link {
      list-style-type: none;
      color: #fff;
      font-size: 30px;
      font-weight: bolder;
    }
  }
}

.submenu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  background-color: $colorPink;
  color: #fff;
  font-weight: 500;
  padding: 12px 3vw;
  margin: 0px;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 3vw;
  margin: 0px;

  &__title {
    color: #c5f581;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e6e1e1;
    border-radius: 20px;
    padding: 6px 12px;
    height: fit-content;
  
      input {
        border: none;
        padding: 0px 12px;
        margin-right: 6px;
        color: #cecccc;
        outline: none;
      }
  }
}

.footer{
  padding: 32px 3vw;
  background-color: $colorBlue;
  color: #fff;

  &_menu{
    display: flex;
  }
  
  &_menu a{
    color: #fff;
    font-weight: 400;
  }
  
  &_menu li {
    list-style-type: none;
    padding-bottom: 10px;
  }
  
  &__menu-right{
    gap: 10px;
  }
  
  &__date {
    text-align: center;
    font-size: 20px;
  }
}

.Banner{
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: #fff;
  font-size: 50px;
  background-color: $colorBlue;
  margin-bottom: 24px;
}

.top5 {
  background-color: $colorPink;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 24px;

  &__title{
    padding: 12px 24px;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 24px;
    justify-content: space-between;
  }

  &__item{
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 12px;
    color: #fff;
  }
  
  &__preview{
    width: 190px;
  }

  &__all {
    color: #fff;
    padding: 24px;
    text-align: right;
  }
}

.top3 {
  background-color: $colorGreen;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 24px;

  &__title{
    padding: 12px 24px;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 24px;
    justify-content: space-between;
  }

  &__item{
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 12px;
    color: #fff;
  }
  
  &__preview{
    width: 190px;
  }

  &__all {
    color: #fff;
    padding: 24px;
    text-align: right;
  }
}

.SubscribeHome{
  height: 300px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: $colorGreen;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: solid 3px #d6f7c5;
  margin-bottom: 24px;
}

.workouts {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    width: 300px;
    padding: 12px;
    border: solid 1px #cecccc;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #cecccc;
    transition: .3s;

    &:hover {
      border: solid 1px $colorGreen;
      box-shadow: 0px 0px 6px $colorGreen;
    }
  }
}

.text {
  padding: 24px 0px;
  color: $colorText;
  width: 70%;

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    padding-top: 24px;
    padding-bottom: 18px;
  }
  
  p, li {
    padding-bottom: 12px;
  }

  ul {
    padding-left: 36px;
    list-style-type: '✓  ';
  }
  li::marker {
    color: $colorPink;
  }

  a {
    color: $colorPink;
    &:hover {
      color: $colorBlue;
    }
  }
}