$colorBlue: #43cfeea4;
$colorDarkBlue: #2499b3f9;
$colorPink: #f79cdf;
$colorLightPink: #fdeaf8;
$colorDarkPink: #e460bc;
$colorGreen: #c5f581;
$colorDarkGreen: #94d933;
$colorText: grey;

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

main {
  margin: 0px 3vw;
  flex: 1;
}

.button {
  width: fit-content;
  padding: 12px;
  background-color: $colorPink;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  align-self: flex-end;
  transition: 0.3s;

  &:hover {
    background-color: $colorDarkPink;
    transform: scale(1.1);
  }
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 3vw;
  
  .Logo {
    height: 150px;
  }

  .Login {
    padding: 24px;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    border: none;
    border-radius: 30px;
    background-color: $colorBlue;
  }

  .menu {
    display: flex;
    gap: 36px;
    padding: 12px 36px;
    border-radius: 30px;
    background-color: $colorBlue;
  
    &__link {
      list-style-type: none;
      color: #fff;
      font-size: 25px;
      font-weight: bolder;
      text-transform: uppercase;
      transition: 0.3s;

      &:hover{
        color: $colorLightPink;
        transform: translateY(-1px)
      }
    }
  }
}

.submenu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  background-color: $colorPink;
  font-weight: 500;
  padding: 12px 3vw;
  margin: 0px;

  &__link {
    font-size: 18px;
    transition: 0.5s;
    a{
      color: #fff;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 3vw;
  margin: 0px;

  &__title {
    color: #c5f581;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e6e1e1;
    border-radius: 20px;
    padding: 6px 12px;
    height: fit-content;
  
      input {
        border: none;
        padding: 0px 12px;
        margin-right: 6px;
        color: #cecccc;
        outline: none;
      }
  }
}

.footer{
  padding: 32px 3vw;
  margin-top: 24px;
  background-color: $colorBlue;
  color: #fff;

  &_menu{
    display: flex;
  }
  
  &_menu a{
    color: #fff;
    font-weight: 400;
  }
  
  &_menu li {
    list-style-type: none;
    padding-bottom: 10px;
  }
  
  &__menu-right{
    gap: 10px;
  }
  
  &__copyright {
    padding-top: 24px;
    text-align: center;
    font-size: 14px;

    b{
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.Banner{
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: #fff;
  font-size: 50px;
  background-color: $colorBlue;
  margin-bottom: 24px;
}

.top5 {
  background-color: $colorPink;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 24px;

  &__title{
    padding: 24px;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 24px;
    justify-content: space-between;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 12px;
    color: #fff;
  }
  
  &__preview{
    width: 230px;
  }

  &__all {
    color: #fff;
    padding: 24px;
    text-align: right;

    a{
      color: #fff;
      text-decoration: underline;
    }
  }
}

.top3 {
  background-color: $colorGreen;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 24px;

  &__title{
    padding: 12px 24px;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 24px;
    justify-content: space-between;
  }

  &__item{
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: solid 1px #fff;
    border-radius: 30px;
    padding: 12px;
    color: #fff;
  }
  
  &__preview{
    width: 190px;
  }

  &__all {
    color: #fff;
    padding: 24px;
    text-align: right;
  }
}

.SubscribeHome{
  height: 300px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: $colorGreen;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: solid 3px #d6f7c5;
  margin-bottom: 24px;
}

.text {
  color: $colorText;
  width: 70%;

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    padding-top: 24px;
    padding-bottom: 18px;
  }
  
  p, li {
    padding-bottom: 12px;
  }

  ul {
    padding-left: 36px;
    list-style-type: '✓  ';
  }
  li::marker {
    color: $colorPink;
  }

  a {
    color: $colorPink;
    &:hover {
      color: $colorBlue;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
  padding: 24px;
  border: 2px solid #e6e1e1;
  border-radius: 20px;

  &__input {
    padding: 12px;
    border: 1px solid #e6e1e1;
    border-radius: 15px;
    outline: none;

    &:hover {
      background-color: $colorLightPink;
    }
  }

  label{
    padding-left: 6px;
  }

  textarea {
    height: 150px;
  }
}

.breadcrumbs{
  display: flex;
  padding-left: 6px;
  list-style-type: none;
  padding: 24px 0px;

  a, li{
    color: $colorBlue;
  }

  a:hover{
    text-decoration: underline;
    color: $colorPink;
  }

  li::after{
    padding: 6px;
    content: '/';
  }

  li:last-child::after{
    content: '';
  }
}

.content{
  display: flex;
}

.filter{
  padding-top: 24px;
  padding-right: 24px;
  margin-right: 24px;
  border-top: 1px solid $colorLightPink;
  border-right: 1px solid $colorLightPink;
  border-top-right-radius: 25px;
  color: $colorText;
  min-width: 250px;

  &__title{
    margin-bottom: 24px;
  }

  &__subtitle{
    margin-bottom: 12px;
  }

  &__list{
    list-style-type: none;
  }

  &__item{
    border: 1px solid #cecccc;
    border-radius: 15px;
    padding: 6px 12px;
    margin-bottom: 6px;
    display: flex;
    gap: 6px;

    label{
      width: 100%;;
    }

    &:hover{
      background-color: $colorLightPink;
    }

    input[type=checkbox]:checked{
      background-color: $colorPink;
    }
  }
}

.workouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    padding: 12px;
    width: 380px;
    border: solid 1px #cecccc;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #cecccc;
    transition: .3s;
    color: $colorText;

    b{
      font-size: 20px;
      color: $colorPink;
    }

    &:hover {
      border: solid 1px $colorGreen;
      box-shadow: 0px 0px 6px $colorGreen;
      transform: translateY(-5px)
    }
  }
}

.subscriptions{
  display: flex;
  justify-content: flex-start;
  gap: 36px;
  margin-top: 24px;
  padding-left: 0px !important;

  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 150px;
    height: 200px;
    padding: 12px;
    border-radius: 15px;
    background-color: $colorGreen;
    box-shadow: 0px 0px 10px 0px $colorPink;
    transition: 0.3s;

    &:hover{
      transform: scale(1.1);
      filter: brightness(0.9);
    }

    .button{
      align-self: auto;
    }

    h4{
      font-size: 26px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 15px;
      padding: 12px;
      background-color: $colorDarkGreen;
    }

    p{
      font-size: 30px;
      font-weight: 700;
      color: $colorPink;
      text-shadow: -2px 0 #fff;
    }
  }
}

.coach{
  border-radius: 30px;
  border: 1px solid $colorPink;
  padding: 24px;
  margin-top: 24px;

  &__banner{
    
    background-color: $colorDarkBlue;
    color: #fff;
    font-size: 20px;
  }

  &__button{
    text-align: center;
    background-color: $colorGreen;
  }
}

